.mk-card__header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--mk-space-scale-2);
  gap: var(--mk-space-scale-2);
  border-bottom: 1px solid var(--color-neutral-stroke);
  margin-bottom: 0;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;

  &:not(.blank) {
    background-color: var(--color-neutral-cover);
  }

  &:not(.inline) {
    flex-wrap: wrap;
  }

  &.stretch {
    justify-content: space-between;
  }

  &.start {
    justify-content: flex-start;
  }

  &.end {
    justify-content: flex-end;
  }

  &.center {
    justify-content: center;
  }
}
