.mk-form-radio {
  display: flex;
  position: relative;
  transition: all 0.3s ease-in-out;

  &.valid {
    .mk-form-radio__label {
      color: var(--color-info-success);
    }

    .mk-form-radio__mark {
      background-color: var(--color-info-success);
    }

    .mk-form-radio__input {
      &:checked {
        ~ .mk-form-radio__mark {
          background-color: var(--color-info-success-light);
        }
      }
    }
  }

  &.invalid {
    .mk-form-radio__label {
      color: var(--color-info-danger);
    }

    .mk-form-radio__mark {
      background-color: var(--color-info-danger);
    }

    .mk-form-radio__input {
      &:checked {
        ~ .mk-form-radio__mark {
          background-color: var(--color-info-danger-light);
        }
      }
    }
  }

  .mk-form-radio__input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;

    &:disabled {
      ~ .mk-form-radio__label {
        color: var(--color-disabled-dark);
      }

      ~ .mk-form-radio__mark {
        background-color: var(--color-disabled-light);
      }
    }

    &:focus,
    &:active {
      background-color: var(--color-info-new);
    }

    &:checked {
      ~ .mk-form-radio__mark {
        background-color: var(--color-brand-primary);

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .mk-form-radio__mark {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    background-color: var(--color-neutral-cover);
    border-radius: 100%;
    transition: inherit;
    margin-right: var(--mk-space-scale-2);

    &:after {
      content: '';
      width: 0.75rem;
      height: 0.75rem;
      background-color: var(--color-neutral-light);
      opacity: 0;
      transition: inherit;
      border-radius: inherit;
    }
  }
}