.mk-steps {
  width: 100%;
  display: flex;
  gap: var(--mk-space-scale-3);

  &.horizontal {
    flex-direction: column;
  }

  &.vertical {
    flex-direction: row;
  }

  .mk-steps__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .mk-steps__header {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .mk-steps__footer {
  }
}
