.mk-menu-link {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--mk-space-scale-2);
  padding: var(--mk-space-scale-2);
  color: var(--color-neutral-dark);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  .mk-menu-link__label {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.active,
  &:active,
  &:focus,
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none;
  }

  .mk-menu-link__start-icon,
  .mk-menu-link__end-icon {
    display: flex;
    flex-shrink: 0;
  }
}
