$arrow-size: 10;
$arrow-margin: calc($arrow-size / 2);

.mk-tooltip-wrapper {
  position: fixed;
  z-index: 999;

  .mk-tooltip {
    display: flex;
    width: max-content;
    max-height: 60vh;
    position: relative;
    padding: var(--mk-space-scale-2);
    text-align: left;
    background-color: var(--color-brand-primary);
    border-radius: var(--mk-border-radius-sm);
    color: var(--color-neutral-light);
    box-shadow: var(--mk-shadow-sm);

    &.primary {
      background-color: var(--color-brand-primary);
    }

    &.secondary {
      background-color: var(--color-brand-secondary);
    }

    &.tertiary {
      background-color: var(--color-brand-tertiary);
    }

    &.success {
      background-color: var(--color-info-success);
    }

    &.danger {
      background-color: var(--color-info-danger);
    }

    &.info {
      background-color: var(--color-info-new);
    }

    &.warning {

    }

    .mk-tooltip-inner {
      width: 100%;
      height: inherit;
      overflow-y: auto;
      font-size: var(--mk-font-size-scale-3);
      color: currentColor;
    }

    .mk-tooltip__arrow {
      position: absolute;
      width: #{$arrow-size}px;
      height: #{$arrow-size}px;
      transform: rotate(45deg);
      background-color: inherit;
    }

    &[data-placement="top"] {
      margin: var(--mk-space-scale-3) 0;

      .mk-tooltip__arrow {
        left: -#{$arrow-margin}px;
        bottom: -#{$arrow-margin}px;
      }
    }

    &[data-placement="bottom"] {
      margin: var(--mk-space-scale-3) 0;

      .mk-tooltip__arrow {
        left: -#{$arrow-margin}px;
        top: -#{$arrow-margin}px;
      }
    }

    &[data-placement="left"] {
      margin: 0 var(--mk-space-scale-3);

      .mk-tooltip__arrow {
        right: -#{$arrow-margin}px;
        top: -#{$arrow-margin}px;
      }
    }

    &[data-placement="right"] {
      margin: 0 var(--mk-space-scale-3);

      .mk-tooltip__arrow {
        left: -#{$arrow-margin}px;
        top: -#{$arrow-margin}px;
      }
    }
  }
}
