@import "src/theme";

.mk-grid-row {
  justify-content: inherit;
  align-items: inherit;

  display: flex;
  flex-wrap: wrap;
  margin-right: -$grid-gutter-width * .5;
  margin-left: -$grid-gutter-width * .5;
}