.mk-form-feedback {
  line-height: 1;
  font-size: var(--mk-font-size-scale-2);

  &.invalid {
    color: var(--color-info-danger);
  }

  &.valid {
    color: var(--color-info-success);
  }

  &.strong {
    font-weight: bold;
  }

  &.centered {
    text-align: center;
  }
}