.mk-layout__section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--mk-space-scale-3);

  &.header {
    flex-direction: column;
  }

  &.content {
    flex-direction: column;
  }

  &.footer {
    flex-direction: column;
  }
}
