.mk-slider {
  width: 100%;
  display: flex;
  gap: var(--mk-space-scale-3);
  position: relative;

  &.animate {
    transition: all ease-in-out 0.3s;
  }

  .mk-slider__bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--mk-space-scale-2);

    .mk-slider__bullet {
      width: 1rem;
      aspect-ratio: 1/1;
      border: 0;
      box-shadow: var(--mk-shadow-xs);
      background: var(--color-neutral-med);
      border-radius: 100%;

      &:hover {
        background-color: var(--color-brand-secondary);
      }

      &.active {
        background: var(--color-brand-primary);
      }
    }
  }

  .mk-slider__wrapper {
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    transition: inherit;

    .mk-slider__inner {
      position: relative;
      display: flex;
      min-width: 100%;
      transition: inherit;

      .mk-slider__item {
        position: relative;
        display: flex;
        transition: inherit;
        user-select: inherit;
      }
    }
  }

  &.horizontal {
    flex-direction: column;

    .mk-slider__bullets {
      flex-direction: row;
    }

    .mk-slider__inner {
      height: 100%;
      flex-direction: row;
    }

    .mk-slider__button {
      &.prev {
        left: -2rem;
      }

      &.next {
        right: -2rem;
      }
    }
  }

  &.vertical {
    .mk-slider__bullets {
      flex-direction: column;
    }

    .mk-slider__inner {
      flex-direction: column;
    }

    .mk-slider__button {
      left: 50%;
      transform: translateX(-50%);

      &.prev {
        top: -0.5rem;
      }

      &.next {
        bottom: -0.5rem;
      }
    }
  }

  .mk-slider__button {
    all: unset;
    cursor: pointer;
    position: absolute;
    height: 4rem;
    width: 4rem;
    z-index: 1;
    background-color: var(--color-info-new);
    color: var(--color-neutral-light);
    transition: inherit;
    box-shadow: var(--mk-shadow-xs);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;

    &:active,
    &:hover,
    &:focus {
      background-color: var(--color-brand-primary);
    }

    &:disabled {
      display: none;
    }
  }
}
