.mk-slider {
  width: 100%;
  display: flex;
  position: relative;

  .mk-slider__wrapper {
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    user-select: none;

    .mk-slider__inner {
      display: flex;
      min-width: 100%;
      transition: all 0.3s ease-in-out;
      user-select: inherit;

      .mk-slider__item {
        display: flex;
        border: 1px solid #000;
        transition: inherit;
        user-select: inherit;
      }
    }
  }

  &.horizontal {
    .mk-slider__inner {
      height: 100%;
      flex-direction: row;
    }

    .mk-slider__button {
      top: 50%;
      transform: translateY(-50%);

      &.prev {
        left: -0.5rem;
      }

      &.next {
        right: -0.5rem;
      }
    }
  }

  &.vertical {
    .mk-slider__inner {
      flex-direction: column;
    }

    .mk-slider__button {
      left: 50%;
      transform: translateX(-50%);

      &.prev {
        top: -0.5rem;
      }

      &.next {
        bottom: -0.5rem;
      }
    }
  }

  .mk-slider__button {
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    aspect-ratio: 1;
    border: 0;
    background-color: var(--color-brand-primary);
    color: var(--color-neutral-light);
    font-size: var(--mk-font-size-scale-4);
    font-weight: bold;
    opacity: 0.5;
    border-radius: 100%;
    z-index: 1;

    &:not(:disabled) {
      cursor: pointer;
    }

    &:focus,
    &:hover,
    &:active {
      opacity: 1;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}