.mk-form-field {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: var(--mk-border-radius-sm);

  &:has(.mk-form-field__append),
  &:has(.mk-form-field__prepend) {
    border: 1px solid var(--color-neutral-stroke);
    background-color: var(--color-neutral-cover);

    .mk-form-field__input {
      margin: -1px 0;
    }
  }

  .mk-form-field__prepend {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    padding: var(--mk-space-scale-2);
  }

  .mk-form-field__append {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: var(--mk-space-scale-2);
  }

  .mk-form-field__input {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    &:has(.mk-form-field__overlay.start) {
      input,
      select,
      textarea {
        padding-left: 2rem;
      }
    }

    &:has(.mk-form-field__overlay.end) {
      input,
      select,
      textarea {
        padding-right: 2rem;
      }
    }
  }

  .mk-form-field__overlay {
    height: 100%;
    max-width: 2rem;
    aspect-ratio: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    &.start {
      left: 0;
    }

    &.end {
      right: 0;
    }
  }
}