.mk-card {
  width: 100%;
  border-radius: var(--mk-border-radius-sm);
  border: 1px solid var(--color-neutral-stroke);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  background-color: var(--color-neutral-light);
  background-clip: border-box;

  &.light {
    border-color: transparent;
  }

  &.shadow {
    border: 1px solid var(--color-neutral-stroke);
    box-shadow: var(--mk-shadow-sm);
  }
}
