.mk-form-range {
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
  position: relative;
  border-radius: var(--mk-border-radius-sm);

  input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: inherit;
    height: 0.5rem;
    background: var(--color-neutral-cover);
    color: var(--color-brand-primary);

    &.invalid {
      color: var(--color-info-danger);

      ~ .mk-form-range__progress {
        background-color: var(--color-info-danger);
      }
    }

    &.valid {
      color: var(--color-info-success);

      ~ .mk-form-range__progress {
        background-color: var(--color-info-success);
      }
    }

    &:disabled,
    &.disabled {
      color: var(--color-disabled-light);

      ~ .mk-form-range__progress {
        background-color: var(--color-disabled-dark);
      }
    }

    ~ .mk-form-range__progress {
      height: 0.5rem;
      max-width: 100%;
      left: 0;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      display: block;
      border-radius: inherit;
      background-color: var(--color-brand-primary);
      z-index: 1;
    }

    /* Thumb: webkit */
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 1.5rem;
      width: 1.5rem;
      background-color: currentColor;
      border-radius: 50%;
      border: none;
      transition: inherit;
    }

    /* Thumb: Firefox */
    &::-moz-range-thumb {
      height: 1.25rem;
      width: 1.25rem;
      background-color: currentColor;
      border-radius: 50%;
      border: none;
      transition: inherit;
    }

    /* Hover, active & focus Thumb: Webkit */
    &::-webkit-slider-thumb:hover {
      box-shadow: var(--mk-shadow-sm);
    }

    &:active::-webkit-slider-thumb {
      box-shadow: var(--mk-shadow-sm);
    }

    &:focus::-webkit-slider-thumb {
      box-shadow: var(--mk-shadow-sm);
    }

    /* Hover, active & focus Thumb: Firfox */

    &::-moz-range-thumb:hover {
      box-shadow: var(--mk-shadow-sm);
    }

    &:active::-moz-range-thumb {
      box-shadow: var(--mk-shadow-sm);
    }

    &:focus::-moz-range-thumb {
      box-shadow: var(--mk-shadow-sm);
    }
  }
}
