.mk-form-text {
  width: 100%;

  &.caption {
    font-style: italic;
    color: var(--color-neutral-med);
    font-size: var(--mk-font-size-scale-2);
  }

  &.description {
    color: var(--color-neutral-med);
    font-size: var(--mk-font-size-scale-3);
  }

  &.info {
    font-size: var(--mk-font-size-scale-3);
  }
}