$color-brand-primary: #66056e;
$color-brand-secondary: #b67ac5;
$color-brand-tertiary: #5f678f;

$color-info-success: #069e03;
$color-info-danger: #bb0c0c;
$color-info-warning: #c56503;
$color-info-info: #015681;
$color-info-link: #0281be;

$color-neutral-dark: #000000;
$color-neutral-light: #ffffff;
$color-neutral-cover: #f1f1f1;
$color-neutral-med: #666;
$color-neutral-stroke: #dddd;

$color-disabled-light: #ccc;
$color-disabled-dark: #666;
