.mk-collapse {
  overflow: hidden;
  border-radius: var(--mk-border-radius-sm);

  &.bordered {
    border: 1px solid var(--color-neutral-stroke);

    .mk-collapse-item {
      .mk-collapse-item__header {
        background-color: var(--color-neutral-cover);
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid var(--color-neutral-stroke);
      }

      &.active {
        .mk-collapse-item__header {
          border-bottom: 1px solid var(--color-neutral-stroke);
        }
      }
    }
  }
}