$color-brand-primary: #800080;
$color-brand-primary-dark: #5b015b;
$color-brand-secondary: #036bc9;
$color-brand-secondary-dark: #0257a1;
$color-brand-tertiary: #DC0073;
$color-brand-tertiary-dark: #850146;

$color-info-success: #22BB33;
$color-info-success-dark: #0f5917;
$color-info-danger: #bb0c0c;
$color-info-danger-dark: #6c0808;
$color-info-warning: #c56503;
$color-info-warning-dark: #6b3702;
$color-info-new: #013269;
$color-info-new-dark: #01254d;
$color-info-link: #0000EE;
$color-info-link-dark: #010172;

$color-neutral-dark: #000000;
$color-neutral-light: #ffffff;
$color-neutral-cover: #f1f1f1;
$color-neutral-med: #444;
$color-neutral-dim: #666;
$color-neutral-stroke: #dddd;

$color-disabled-light: #ccc;
$color-disabled-dark: #666;
