$mk-border-radius-xs: 0.25em;
$mk-border-radius-sm: 0.5em;
$mk-border-radius-md: 5em;
$mk-border-radius-lg: 10em;

$mk-space-scale-1: 0.25em;
$mk-space-scale-2: 0.5em;
$mk-space-scale-3: 1em;
$mk-space-scale-4: 1.25em;
$mk-space-scale-5: 1.5em;

$mk-shadow-xs: 0 0 0.1rem rgba(0, 0, 0, 0.25);
$mk-shadow-sm: 0 0 0.25rem rgba(0, 0, 0, 0.5);
$mk-shadow-md: 0 0 0.5rem rgba(0, 0, 0, 0.5);
$mk-shadow-lg: 0 0 1rem rgba(0, 0, 0, 0.5);

$mk-font-size-scale-1: 0.75rem;
$mk-font-size-scale-2: 0.875rem;
$mk-font-size-scale-3: 1rem;
$mk-font-size-scale-4: 1.25rem;
$mk-font-size-scale-5: 1.5rem;
$mk-font-size-scale-6: 1.75rem;
$mk-font-size-scale-7: 2rem;
$mk-font-size-scale-8: 2.25rem;
$mk-font-size-scale-9: 2.5rem;
$mk-font-size-scale-10: 3rem;

$mk-header-height: 60px;
