.mk-grid-wrapper {
  width: 100%;

  &.wrap {
    display: flex;
    flex-wrap: wrap;

    &.start {
      justify-content: flex-start;
    }

    &.center {
      justify-content: center;
    }

    &.end {
      justify-content: center;
    }

    &.top {
      align-items: flex-start;
    }

    &.middle {
      align-items: center;
    }

    &.bottom {
      align-items: flex-end;
    }
  }
}
