@import "styles/configs";

.mk-grid-wrapper {
  width: 100%;
  max-width: var(--mk-breakpoint-xl);
  margin: auto;

  &.wrap {
    display: flex;
    flex-wrap: wrap;

    &.start {
      justify-content: flex-start;
    }

    &.center {
      justify-content: center;
    }

    &.end {
      justify-content: center;
    }

    &.space-between {
      justify-content: space-between;
    }

    &.top {
      align-items: flex-start;
    }

    &.middle {
      align-items: center;
    }

    &.bottom {
      align-items: flex-end;
    }

    &.stretch {
      align-items: stretch;
    }
  }
}
