.mk-tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--mk-space-scale-3);

  &.center {
    .mk-tabs__nav {
      justify-content: center;
    }

    .mk-tabs__content {
      display: flex;
      justify-content: center;
    }
  }

  &.start {
    .mk-tabs__nav {
      justify-content: flex-start;
    }

    .mk-tabs__content {
      display: flex;
      justify-content: flex-start;
    }
  }

  .mk-tabs__nav {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .mk-tab {
      list-style: none;
      padding: 0;
      margin: 0;

      .mk-tab__link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--mk-space-scale-2);
        padding: var(--mk-space-scale-2) var(--mk-space-scale-3);
        font-size: var(--mk-font-size-scale-3);
        cursor: pointer;
        outline: none;
        text-decoration: none;
      }
    }
  }

  .mk-tabs__content {
    width: 100%;

    .mk-tabs__item {
      width: 100%;
    }
  }

  &.primary {
    .mk-tabs__nav {
      color: var(--color-brand-primary);

      .mk-tab__link {
        color: var(--color-brand-primary);
        background: var(--color-brand-primary-light);

        &:hover,
        &:focus {
          border-color: var(--color-brand-primary);
        }

        &:active,
        &.active {
          background-color: var(--color-brand-primary);
          color: var(--color-neutral-light);
        }
      }
    }
  }

  &.secondary {
    .mk-tabs__nav {
      color: var(--color-brand-secondary);

      .mk-tab__link {
        color: var(--color-brand-secondary);
        background: var(--color-brand-secondary-light);

        &:hover,
        &:focus {
          border-color: var(--color-brand-secondary);
        }

        &:active,
        &.active {
          background-color: var(--color-brand-secondary);
          color: var(--color-neutral-light);
        }
      }
    }
  }

  &.tertiary {
    .mk-tabs__nav {
      color: var(--color-brand-tertiary);

      .mk-tab__link {
        color: var(--color-brand-tertiary);
        background: var(--color-brand-tertiary-light);

        &:hover,
        &:focus {
          border-color: var(--color-brand-tertiary);
        }

        &:active,
        &.active {
          background-color: var(--color-brand-tertiary);
          color: var(--color-neutral-light);
        }
      }
    }
  }

  &.pills {
    .mk-tabs__nav {
      .mk-tab {
        .mk-tab__link {
          min-width: 100px;
        }

        &:first-of-type {
          .mk-tab__link {
            border-radius: var(--mk-border-radius-sm) 0 0 var(--mk-border-radius-sm);
          }
        }

        &:last-of-type {
          .mk-tab__link {
            border-radius: 0 var(--mk-border-radius-sm) var(--mk-border-radius-sm) 0;
          }
        }
      }
    }
  }

  &.tabs {
    .mk-tabs__nav {
      gap: var(--mk-space-scale-3);
      border-bottom: 1px solid currentColor;

      .mk-tab__link {
        min-width: 100px;
        border: 1px solid transparent;
        border-radius: var(--mk-border-radius-sm) var(--mk-border-radius-sm) 0 0;
        margin-bottom: -1px;
      }
    }
  }
}
