.mq-dropdown-content {
  width: fit-content;
  min-width: 100px;
  max-width: 300px;
  max-height: 400px;
  padding: var(--mk-space-scale-2);

  &.primary {
    .mk-dropdown-content__container {
      background-color: var(--color-neutral-light);
    }
  }

  .mk-dropdown-content__container {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    box-shadow: var(--mk-shadow-sm);
    border-radius: var(--mk-border-radius-sm);
  }
}
