.mk-layout-header {
  width: 100%;
  height: var(--mk-header-height);
  gap: var(--mk-space-scale-2);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid blue;

  .mk-layout-header__toggle {
    flex-shrink: 0;
    border: 0;
    min-width: 40px;
    background-color: transparent;
    padding: var(--mk-space-scale-3);
    aspect-ratio: 1/1;
    color: var(--color-neutral-dark);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
      color: var(--color-brand-primary);
    }
  }

  .mk-layout-header__nav {
    width: 100%;
    display: flex;
    align-items: center;
  }
}