.mk-breadcrumb-item {
  width: max-content;
  display: flex;
  align-items: center;
  color: var(--color-info-link);
  text-decoration: none;

  &:not(:first-of-type) {
    &:before {
      content: '/';
      position: relative;
      display: block;
      height: 1rem;
      margin: 0 var(--mk-space-scale-2);
      color: var(--color-neutral-med);
    }
  }

  a {
    text-decoration: none;
  }

  &.active {
    color: var(--color-neutral-med);

    a {
      text-decoration: none;
    }
  }
}
