.mk-breadcrumb-item {
  width: max-content;
  display: flex;
  align-items: center;
  color: var(--color-info-link);
  text-decoration: none;

  &:not(:first-of-type) {
    &:before {
      content: '/';
      position: relative;
      display: block;
      height: 100%;
      color: var(--color-neutral-med);
    }
  }

  a {
    display: inline-flex;
    align-items: center;
    gap: var(--mk-space-scale-2);
    text-decoration: none;
    padding: var(--mk-space-scale-2);
  }

  &.active {
    color: var(--color-neutral-med);

    a {
      color: currentColor;
      text-decoration: none;
    }
  }
}
