.mk-grid-box {
  width: 100%;
  display: flex;
  gap: var(--mk-space-scale-2);

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &:not(.wrap) {
    flex-wrap: nowrap;
  }

  &.start {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.end {
    justify-content: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.top {
    align-items: flex-start;
  }

  &.middle {
    align-items: center;
  }

  &.bottom {
    align-items: flex-end;
  }

  &.stretch {
    align-items: stretch;
  }
}
