.mk-card__title {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: var(--mk-space-scale-2);
  margin: 0;
  color: currentColor;
  line-height: initial;
  font-weight: bold;
  font-size: var(--mk-font-size-scale-3);
}
