.mk-collapse-item {
  width: 100%;
  display: flex;
  flex-direction: column;

  &.active {
    .mk-collapse-item__button {
      transform: rotate(90deg);
    }
  }

  .mk-collapse-item__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--mk-space-scale-2);
    padding: var(--mk-space-scale-3);
    cursor: pointer;


    .mk-collapse-item__label {
      width: 100%;
      display: flex;
      align-items: center;
      gap: var(--mk-space-scale-2);
      font-size: var(--mk-font-size-scale-3);

      .mk-collapse-item__button {
        transition: all 0.3s linear;

        .mk-collapse-item__toggle {
          width: 0.5rem;
          height: 0.5rem;
          display: block;
          border-right: 0.2rem solid currentColor;
          border-bottom: 0.2rem solid currentColor;
          transform: rotate(-45deg);
        }
      }
    }

    .mk-collapse-item__extra {
      display: flex;
      align-items: center;
    }
  }

  &:not(.active) {
    .mk-collapse-item__content {
      opacity: 0;
      overflow: hidden;
      padding: 0;
      height: 0;
    }
  }

  .mk-collapse-item__content {
    width: 100%;
    overflow: auto;
    max-height: 500px;
    opacity: 1;
    padding: var(--mk-space-scale-3);
    transition: all 0.3s linear;
  }
}