.mk-layout-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.primary {
    background-color: var(--color-neutral-cover);

    .mk-layout-card__header {
      color: var(--color-brand-primary);
    }
  }

  &.highlighted {
    .mk-layout-card__wrapper {
      gap: var(--mk-space-scale-3);

      .mk-layout-card__body {
        padding: var(--mk-space-scale-3);
        border-radius: var(--mk-border-radius-sm);
        background-color: var(--color-neutral-light);
        box-shadow: var(--mk-shadow-xs);
      }
    }
  }

  .mk-layout-card__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 450px;

    .mk-layout-card__brand {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: var(--mk-space-scale-2);
    }

    .mk-layout-card__header {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: var(--mk-space-scale-2);
    }

    .mk-layout-card__body {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--mk-space-scale-5);
    }

    .mk-layout-card__footer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: var(--mk-space-scale-2);
    }
  }
}
