.mk-form-checkbox {
  display: flex;
  position: relative;
  gap: var(--mk-space-scale-2);
  transition: all 0.3s ease-in-out;

  &.valid {
    .mk-form-checkbox__label {
      color: var(--color-info-success);
    }

    .mk-form-checkbox__mark {
      border: 1px solid var(--color-info-success);
    }

    .mk-form-checkbox__input {
      &:checked {
        ~ .mk-form-radio__mark {
          background-color: var(--color-info-success-light);
          border: 1px solid var(--color-info-success);
        }
      }
    }
  }

  &.invalid {
    .mk-form-checkbox__label {
      color: var(--color-info-danger);
    }

    .mk-form-checkbox__mark {
      border: 1px solid var(--color-info-danger);
    }

    .mk-form-checkbox__input {
      &:checked {
        ~ .mk-form-checkbox__mark {
          background-color: var(--color-info-danger-light);
          border: 1px solid var(--color-info-danger);
        }
      }
    }
  }

  .mk-form-checkbox__label {
    line-height: 1.5rem;
  }

  .mk-form-checkbox__input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;

    &:disabled {
      ~ .mk-form-checkbox__label {
        color: var(--color-disabled-dark);
      }

      ~ .mk-form-checkbox__mark {
        border: 1px solid var(--color-disabled-dark);
        background-color: var(--color-disabled-light);
      }
    }

    &:focus,
    &:active {
      ~ .mk-form-checkbox__mark {
        background-color: var(--color-info-new);
      }
    }

    &:checked {
      ~ .mk-form-checkbox__mark {
        background-color: var(--color-brand-primary);
        border: 1px solid var(--color-neutral-stroke);

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .mk-form-checkbox__mark {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    background-color: var(--color-neutral-cover);
    border: 1px solid var(--color-neutral-stroke);
    border-radius: var(--mk-border-radius-sm);
    transition: inherit;

    &:after {
      content: '';
      width: 0.5rem;
      height: 0.5rem;
      top: 0.25rem;
      left: 0.25rem;
      position: absolute;
      border: solid var(--color-neutral-light);
      border-width: 0 4px 4px 0;
      transform: rotate(45deg);
      opacity: 0;
      transition: inherit;
    }
  }
}