.mk-dropdown-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--mk-space-scale-2);

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-neutral-stroke);
  }

  &.justify-start {
    justify-content: start;
  }

  &.justify-end {
    justify-content: end;
  }

  &.justify-center {
    justify-content: center;
  }
}
