.mk-tag {
  width: max-content;
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  line-height: initial;
  font-size: var(--mk-font-size-scale-2);
  gap: var(--mk-space-scale-2);
  padding: var(--mk-space-scale-2);
  color: var(--color-neutral-light);

  &.xs {
    font-size: var(--mk-font-size-scale-1);
  }

  &.sm {
    font-size: var(--mk-font-size-scale-2);
  }

  &.md {
    font-size: var(--mk-font-size-scale-3);
  }

  &.lg {
    font-size: var(--mk-font-size-scale-4);
  }

  &.responsive {
    font-size: inherit;
  }

  &__content {
    width: max-content;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: initial;
  }

  &:not(.stateless) {
    &:not(.disabled) {
      cursor: pointer;

      &:hover {
        opacity: 0.9;
        box-shadow: var(--mk-shadow-sm);
      }

      &:focus,
      &:active,
      &.active {
        box-shadow: var(--mk-shadow-sm);
      }
    }

    &.disabled {
      cursor: not-allowed;
    }
  }

  &:not(.borderless) {
    border-width: 1px;
    border-style: solid;
  }

  &.square {
    border-radius: 0;
  }

  &.round {
    border-radius: var(--mk-border-radius-sm);
  }

  &.circle {
    aspect-ratio: 1;
    border-radius: 100%;
  }

  &.primary {
    border-color: var(--color-brand-primary);

    &:not(.blank) {
      color: var(--color-neutral-light);
      background-color: var(--color-brand-primary);
    }

    &.blank {
      color: var(--color-brand-primary);
    }
  }

  &.secondary {
    border-color: var(--color-brand-secondary);

    &:not(.blank) {
      color: var(--color-neutral-light);
      background-color: var(--color-brand-secondary);
    }

    &.blank {
      color: var(--color-brand-secondary);
    }
  }

  &.tertiary {
    border-color: var(--color-brand-tertiary);

    &:not(.blank) {
      color: var(--color-neutral-light);
      background-color: var(--color-brand-tertiary);
    }

    &.blank {
      color: var(--color-brand-tertiary);
    }
  }

  &.success {
    border-color: var(--color-info-success);

    &:not(.blank) {
      color: var(--color-neutral-light);
      background-color: var(--color-info-success);
    }

    &.blank {
      color: var(--color-info-success);
    }
  }

  &.danger {
    border-color: var(--color-info-danger);

    &:not(.blank) {
      color: var(--color-neutral-light);
      background-color: var(--color-info-danger);
    }

    &.blank {
      color: var(--color-info-danger);
    }
  }

  &.warning {
    border-color: var(--color-info-warning);

    &:not(.blank) {
      color: var(--color-neutral-light);
      background-color: var(--color-info-warning);
    }

    &.blank {
      color: var(--color-info-warning);
    }
  }

  &.new {
    border-color: var(--color-info-new);

    &:not(.blank) {
      color: var(--color-neutral-light);
      background-color: var(--color-info-new);
    }

    &.blank {
      color: var(--color-info-new);
    }
  }

  &.neutral {
    color: var(--color-neutral-med);
    border-color: var(--color-neutral-stroke);

    &:not(.blank) {
      background-color: var(--color-neutral-cover);
    }
  }

  &.disabled {
    &:not(.blank) {
      background-color: var(--color-disabled-light);
    }

    color: var(--color-disabled-dark);
    border: 1px solid var(--color-neutral-stroke);
  }

  &.blank {
    background-color: transparent;
  }
}
