.mk-modal__footer {
  display: flex;
  justify-content: space-between;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  padding: var(--mk-space-scale-2);
  border-top: 1px solid var(--color-neutral-stroke);
  gap: var(--mk-space-scale-2);

  &.end {
    justify-content: end;
  }

  &.start {
    justify-content: start;
  }

  &.space-between {
    justify-content: space-between;
  }
}