.mk-paragraph {
  line-height: 1.5;
  color: currentColor;
  margin: 0;

  &.bold {
    font-weight: bold;
  }

  &.center {
    text-align: center;
  }

  &.italic {
    font-style: italic;
  }

  &.underline {
    text-decoration: underline;
  }

  &.truncate {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
