.mk-menu {
  display: flex;
  flex-wrap: wrap;
  gap: var(--mk-space-scale-2);

  &.primary {
    .mk-menu-group {
      .mk-menu-group__header {
        color: var(--color-brand-primary-dark);
      }
    }

    .mk-menu-link {
      &.active,
      &:active {
        color: var(--color-brand-primary-dark);
      }
    }

    .mk-menu-collapse {
      .mk-menu-collapse__toggle {
        &.active,
        &:active {
          color: var(--color-brand-primary-dark);
        }
      }

      .mk-menu-collapse__content {
        background-color: var(--color-neutral-cover);

        .mk-menu-link {
          padding-left: var(--mk-space-scale-4);
        }
      }

      &.collapsed {
        .mk-menu-collapse__toggle {
          color: var(--color-brand-primary-dark);
        }
      }
    }
  }
}
