.mk-form-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.5;

  .mk-form-label__title {
    font-weight: bold;

    .mk-form-label__required {
      color: var(--color-info-danger);
    }
  }

  .mk-form-label__description {
    width: 100%;
    color: var(--color-neutral-med);
    font-style: italic;

    .mk-form-label__info {
      color: var(--color-info-new);
      margin-right: var(--mk-space-scale-2);
    }
  }
}
