.mk-dropdown-group {
  width: 100%;
  display: flex;
  flex-direction: column;

  .mk-dropdown-group__label {
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--mk-space-scale-2);
  }

  .mk-dropdown-group__content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &:has(.mk-dropdown-group__label) {
    & > {
      .mk-dropdown-group__content {
        padding: var(--mk-space-scale-2);
      }
    }
  }
}