.mq-colors-palette {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gl-spacing-scale-3);

  .mq-colors-palette__header {
    width: 100%;
    text-transform: uppercase;
  }

  .mq-colors-palette__wrapper {
    width: 100%;
  }

  .mq-colors-palette__footer {
    width: 100%;
  }
}
