.mk-menu-collapse {
  width: 100%;
  display: flex;
  flex-direction: column;

  .mk-menu-collapse__toggle {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--mk-space-scale-2);
    padding: var(--mk-space-scale-2);
    border: 0;
    background: transparent;
    font-size: var(--mk-font-size-scale-3);
    line-height: inherit;
    cursor: pointer;

    &.active,
    &:hover,
    &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .mk-menu-collapse__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
  }

  &.truncate {
    .mk-menu-collapse__toggle-label {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &:not(.collapsed) {
    .mk-menu-collapse__content {
      height: 0;
      padding: 0;
      overflow: hidden;
      opacity: 0;
    }
  }

  &.collapsed {
    .mk-menu-collapse__toggle {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .mk-menu-collapse__content {
      height: auto;
      overflow: visible;
      opacity: 1;
    }
  }
}
