.mk-card__header {
  width: 100%;
  padding: var(--mk-space-scale-2);
  border-bottom: 1px solid var(--color-neutral-stroke);
  margin-bottom: 0;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;

  &.highlighted {
    background-color: var(--color-neutral-cover);
  }

  &.inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--mk-space-scale-2);

    > * {
      width: fit-content;
    }
  }
}